doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/404.css")
        title Student Chat Bot
    body 
     h1 404
        .frame
          div
          div
          div
        .caps
          img(src='http://ademilter.com/caps.png' alt='')
        canvas#canvas
        // orjinal page http://ademilter.com/asdfghjkl
